body {
    margin: 0;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0 15%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
}

main img {
    max-width:100%;
    height:auto;
    top: 0;
    left: 0;
}

main .frame {
    mix-blend-mode: screen;
}

main .logo {
    position: absolute;
    align-self: center;
    padding: 17.5%;
    width: 35%;
    top: auto;
    left: auto;
}